.App {
  text-align: center;
  color: green;
}

/* .Header-style {
  text-align: center;
  color: rgb(68, 0, 255);
}

.About-style {
  text-align: center;
  color: green;
} */

/* Note - The styling for the components can come under index.css while for app.js can remain under app.css*/
