/* external styling for all other components */

.Header-style {
  /* text-align: center; */
  color: rgb(68, 0, 255);
}

.About-style {
  /* text-align: center; */
  color: red;
}

.Footer-style {
  /* text-align: center; */
  color: rgb(0, 255, 166);
}
